body {
    background-color: #FFE9D5;
}

.navbar {
    background-color: #FFE9D5;
    height: 75px;

}

.navbar-menu {
    color: #623815;
}

.navbar-link {
    padding-left: 10px;
    padding-right: 10px;

    font-family: "objektiv-mk1", sans-serif;

}

#logo {
    color: white;
    margin-left: 10px;

}

#accueil:hover {
    font-weight: bold
}

#nosroonies:hover {
    font-weight: bold
}

#propos:hover {
    font-weight: bold
}

#contact:hover {
    font-weight: bold
}

#font1 {
    position: absolute;
    z-index: 1;
}

#background-image {
    background-image: url("src/img/information.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    overflow: hidden;
}

#font2 {
    position: absolute;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.contactez-nous {
    font-family: Coniferous, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: #FFE9D5;
    opacity: 1;
    position: relative;
    z-index: 2;
    font-size: 88px;
}

.information{
    font-family: Coniferous, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: #623815;
    opacity: 1;
    position: relative;
    z-index: 2;
    font-size: 77px;
}

.nom{
    font-family: objektiv-mk1, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-size: 33px;
}

.email{
    font-family: objektiv-mk1, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-size: 33px;
}

.message{
    font-family: objektiv-mk1, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-size: 33px;
}

form {
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
    font-family: objektiv-mk1, sans-serif;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-weight: bold;

}
.form-control {
    border: 1px solid #B87EBE;
    border-radius: 26px;
    opacity: 1;
}

.name, .mail, .mess {
    font-weight: bold !important;
}
.form-control{
    height: auto;
    line-height: normal;
}

.form-control::placeholder {
    letter-spacing: 0px;
    color: #F9A1CC;
    opacity: 1;
}

.form-field {
    margin-bottom: 25px;
}

#message {
    width: 621px;
    height: 100px;
    resize: none;
}

#email{
    width: 621px;
}
#nom{
    width: 400px;
}




















































.primary{
    background-color: #ECC8E1;
    text-align: center;
}
.footer{

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link{
    font-family: objektiv-mk1, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: #623815;
    justify-content: center;
}

.btn{
    background: transparent linear-gradient(241deg, var(--unnamed-color-f9a1cc) 0%, var(--unnamed-color-fd5994) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(241deg, #F9A1CC 0%, #FD5994 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin-left: -25px;
}


.icon-text {
    margin-left: 10px; /* Ajoutez une marge à gauche pour espacer le texte de l'icône */
    vertical-align: middle; /* Alignement vertical du texte avec l'icône */
    font-size: 30px;
    color: #623815;
}

.icon {
    position: absolute;
    margin-left: 220px;
    margin-top: 60px; /* Ajoutez une marge en haut pour espacer le titre et les icônes */
}
.icon-container {
    margin-bottom: 80px; /* Ajoutez une marge en bas pour espacer les éléments */
    display: flex; /* Utilisez un affichage flexible pour les éléments à l'intérieur du conteneur */
    align-items: center; /* Centre les éléments verticalement */
}

.fav-icon{
    width: 30px; /* Définit la largeur des icônes */
    height: auto; /* Maintient le rapport hauteur/largeur des icônes */
}

