body {
    background-color: #FFE9D5;
}

#font1 {
    position: absolute;
    z-index: 1;
}

#background-image {
    background-image: url("src/img/information.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    overflow: hidden;
}

#font2 {
    position: absolute;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactez-nous {
    font-family: Coniferous, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: #FFE9D5;
    opacity: 1;
    position: relative;
    z-index: 2;
    font-size: 88px;
}

.information {
    font-family: Coniferous, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: #623815;
    opacity: 1;
    position: relative;
    z-index: 2;
    font-size: 77px;
}

.nom,
.email,
.message {
    font-family: objektiv-mk1, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-size: 33px;
}

form {
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
    font-family: objektiv-mk1, sans-serif;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.form-control {
    border: 1px solid #B87EBE;
    border-radius: 26px;
    opacity: 1;
}

.name,
.mail,
.mess {
    font-weight: bold !important;
}

.form-control {
    height: auto;
    line-height: normal;
}

.form-control::placeholder {
    letter-spacing: 0px;
    color: #F9A1CC;
    opacity: 1;
}

.form-field {
    margin-bottom: 25px;
}

#message {
    width: 621px;
    height: 100px;
    resize: none;
}

#email {
    width: 621px;
}

#nom {
    width: 400px;
}

.btn {
    background: transparent linear-gradient(241deg, #F9A1CC 0%, #FD5994 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin-left: -25px;
}

.icon-text {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 30px;
    color: #623815;
}

.icon {
    position: absolute;
    margin-left: 220px;
    margin-top: 60px;
}

.icon-container {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.fav-icon {
    width: 30px;
    height: auto;
}

#background-image-mobile {
    display: none;
}

.mobile-content {
    display: none;
}

@media only screen and (max-width: 480px) {
    #background-image {
        display: none;
    }

    .form-field {
        margin-bottom: 15px;
    }

    #message,
    #email,
    #nom {
        width: 100%;
    }

    form {
        margin-left: 20px;
        margin-top: 50px;
    }

    .information {
        font-size: 55px;
    }

    .icon {
        margin-left: 20px;
    }

    .icon-container {
        margin-bottom: 30px;
    }

    .icon-text {
        font-size: 18px;
    }

    .contactez-nous {
        font-size: 55px;
    }

    .footer-link {
        margin-left: 10px;
        margin-right: 10px;
    }

    #font1,
    #font2 {
        width: 100%;
        height: auto;
    }

    #background-image-mobile {
        background-color: #FFE9D5;
        padding: 20px 0;
        position: relative;
    }

    #font-mobile {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .information {
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        z-index: 1;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        z-index: 1;
    }

    .fav-icon {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }

    #background-image-mobile {
        position: relative;
        padding: 20px 0;
    }

    #font-mobile {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .information {
        position: relative;
        text-align: center;
        padding-top: 20px;
        z-index: 1;
    }

    .icon-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        z-index: 1;
    }

    .fav-icon {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
}