body {
    background-color: #FFE9D5;
}

.navbar {
    background-color: #FFE9D5;
    height: 75px;

}

.navbar-menu {
    color: #623815;
}

.navbar-link {
    padding-left: 10px;
    padding-right: 10px;

    font-family: "objektiv-mk1", sans-serif;

}

#logo {
    color: white;
    margin-left: 10px;

}

#accueil:hover {
    font-weight: bold
}

#nosroonies:hover {
    font-weight: bold
}

#propos:hover {
    font-weight: bold
}

#contact:hover {
    font-weight: bold
}

.background img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.roonie img {
    width: 80%;
    z-index: 1;
    margin-top: -230px;
    margin-left: 120px;
}

.fusion {
    top: 212px;
    left: 108px;
    width: 630px;
    height: 198px;
    font-family: Coniferous, sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    font-weight: 700;
    font-style: normal;
    margin-top: 84px;
}

.btn {
    top: 370px;
    left: 925px;
    width: 250px;
    height: 65px;
    background: transparent linear-gradient(219deg, #FFE9D5 0%, #F2BD72 100%) 0% 0% no-repeat padding-box;
    border-radius: 78px;
    opacity: 1;
    color: #FD5994;
    font-family: objektiv, sans-serif;
    margin-top: 135px;
    margin-left: 160px;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
}

.btn:hover {
    background: transparent linear-gradient(219deg, #F2BD72 0%, #FD5994 100%) 0% 0% no-repeat padding-box;
    color: #FFE9D5;

}

.valeur {
    font-family: Coniferous, sans-serif;
    color: #623815;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 80px;
}

.valeur-content {
    text-align: center;
    letter-spacing: 0px;
    color: #FD659D;
    opacity: 1;
    font-family: objektiv-mk1, serif;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 33px;
}

.valeur-content div img {
    margin-top: 10px;
    width: 60%;
    height: 60%;
}


.val {
    height: 150px;
    margin: 300px;
    margin-top: 100px;
    color: #FD659D;
    font-family: objektiv-mk1, sans-serif;
}

.p4 {
    text-align: right;
    letter-spacing: 0px;
    color: #B87EBE;
    opacity: 1;
    font-family: Coniferous, sans-serif;
    font-size: 129px;
}

.valeur-content br {
    content: "";
    display: block;
    height: 6px;
}

.team img {
    height: 70%;
}