body {
    background-color: #FFE9D5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.background img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.type {
    text-align: center;
    font-family: Coniferous, sans-serif;
    letter-spacing: 0px;
    color: #FD5994;
    opacity: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 80px;
    transform: translate(-50%, -10%);
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translateX(-50%);
}

.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.icon-container:nth-child(2) {
    margin-left: 100px;
}

.fav-icon {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.icon-text {
    color: #623815;
    font-family: Arial, sans-serif;
    font-size: 31px;
    text-align: left;
}

.grix {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: -15%;
}


body {
    padding: 0;
}

.list-title {
    text-align: left;
    font-family: Coniferous, sans-serif;
    color: #FD5994;
    font-size: 60px;

}

.custom-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 0;
}

.list-item {
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    font-family: Objektiv Mk1, sans-serif;
    color: #623815;
    margin-top: 20px;
    font-size: 20px;
}

.list-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F2BD72;
}

.background img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-p1 p {

    top: 0;
}